@media (max-width: 1028px) {
  html{
    font-size: 12px;
  }
}

body{
  background-color: black;
}
.container-fluid{
  padding: 2% 8%;
}
/* Navigation Bar */
.navbar-brand img{
  width: 10%;
}
.nav-item{
  font-family: 'shzc';
  font-size: 2.5rem;
}
